<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <%= render 'public/shared/genre_search', genres: @genres %>
    </div>
    <div class="col-lg-10">
      <h1>ようこそながのCAKEへ！</h1>
      <p>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。<br>
      </p>

      <h3>新着商品</h3>
      <table class="table table-borderless">
        <tbody>
          <tr>
          <% @items.each do |item| %>
            <th>
              <%= link_to image_tag(item.get_image, size: "200x150" ), show_items_path(item.id) %><br>
              <%= item.name %><br>
              ￥<%= item.price %><br>
            </th>
          <% end %>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><%= link_to "すべての商品をみる>>", items_path %></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>