

<%= image_tag @item.get_image %>


  <h3><%= @item.name %></h3>
  <p><%= @item.introduction %></p>
  <h5>ジャンル: <%= @item.genre_id %></h5>
  <h5><%= @item.price %></h5>

  <p>数量を選択してください</p>
  <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.select :amount, *[1..10] %>
    <%= f.submit "カートに入れる", class: "btn btn-info" %>
  <% end %>


